<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul class = "nav-list">
        <li>
          <a href="/flights">All Flights</a>
        </li>
        <li>
          <a href="/flights/new">Add a Flight</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
