<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/students/new">Add a Student</a>
    <form action="/students" method="POST"></form>



  </body>
</html>
